<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>backview.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,2},{146,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,204}}</string>
                <key>sourceSize</key>
                <string>{146,204}</string>
            </dict>
            <key>dawang_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,2},{140,198}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{140,198}}</string>
                <key>sourceSize</key>
                <string>{146,204}</string>
            </dict>
            <key>fangkuai_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,1884},{146,202}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,202}}</string>
                <key>sourceSize</key>
                <string>{146,204}</string>
            </dict>
            <key>fangkuai_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,1680},{146,202}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,202}}</string>
                <key>sourceSize</key>
                <string>{146,204}</string>
            </dict>
            <key>fangkuai_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,1890},{146,202}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,202}}</string>
                <key>sourceSize</key>
                <string>{146,204}</string>
            </dict>
            <key>fangkuai_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,1532},{146,202}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,202}}</string>
                <key>sourceSize</key>
                <string>{146,204}</string>
            </dict>
            <key>fangkuai_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,1686},{146,202}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,202}}</string>
                <key>sourceSize</key>
                <string>{146,204}</string>
            </dict>
            <key>fangkuai_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,1384},{146,202}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,202}}</string>
                <key>sourceSize</key>
                <string>{146,204}</string>
            </dict>
            <key>fangkuai_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,1482},{146,202}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,202}}</string>
                <key>sourceSize</key>
                <string>{146,204}</string>
            </dict>
            <key>fangkuai_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,1334},{146,202}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,202}}</string>
                <key>sourceSize</key>
                <string>{146,204}</string>
            </dict>
            <key>fangkuai_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,1792},{146,202}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,202}}</string>
                <key>sourceSize</key>
                <string>{146,204}</string>
            </dict>
            <key>fangkuai_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,1588},{146,202}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,202}}</string>
                <key>sourceSize</key>
                <string>{146,204}</string>
            </dict>
            <key>fangkuai_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,1384},{146,202}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,202}}</string>
                <key>sourceSize</key>
                <string>{146,204}</string>
            </dict>
            <key>fangkuai_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,1792},{146,202}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,202}}</string>
                <key>sourceSize</key>
                <string>{146,204}</string>
            </dict>
            <key>fangkuai_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,1588},{146,202}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,202}}</string>
                <key>sourceSize</key>
                <string>{146,204}</string>
            </dict>
            <key>heitao_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,1384},{146,202}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,202}}</string>
                <key>sourceSize</key>
                <string>{146,204}</string>
            </dict>
            <key>heitao_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,1236},{146,202}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,202}}</string>
                <key>sourceSize</key>
                <string>{146,204}</string>
            </dict>
            <key>heitao_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,1186},{146,202}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,202}}</string>
                <key>sourceSize</key>
                <string>{146,204}</string>
            </dict>
            <key>heitao_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,1186},{146,202}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,202}}</string>
                <key>sourceSize</key>
                <string>{146,204}</string>
            </dict>
            <key>heitao_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,1186},{146,202}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,202}}</string>
                <key>sourceSize</key>
                <string>{146,204}</string>
            </dict>
            <key>heitao_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1848},{146,202}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,202}}</string>
                <key>sourceSize</key>
                <string>{146,204}</string>
            </dict>
            <key>heitao_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1644},{146,202}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,202}}</string>
                <key>sourceSize</key>
                <string>{146,204}</string>
            </dict>
            <key>heitao_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1440},{146,202}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,202}}</string>
                <key>sourceSize</key>
                <string>{146,204}</string>
            </dict>
            <key>heitao_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1236},{146,202}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,202}}</string>
                <key>sourceSize</key>
                <string>{146,204}</string>
            </dict>
            <key>heitao_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,1088},{146,202}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,202}}</string>
                <key>sourceSize</key>
                <string>{146,204}</string>
            </dict>
            <key>heitao_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,1038},{146,202}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,202}}</string>
                <key>sourceSize</key>
                <string>{146,204}</string>
            </dict>
            <key>heitao_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,1038},{146,202}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,202}}</string>
                <key>sourceSize</key>
                <string>{146,204}</string>
            </dict>
            <key>heitao_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,1038},{146,202}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,202}}</string>
                <key>sourceSize</key>
                <string>{146,204}</string>
            </dict>
            <key>hongtao_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1038},{146,202}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,202}}</string>
                <key>sourceSize</key>
                <string>{146,204}</string>
            </dict>
            <key>hongtao_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,940},{146,202}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,202}}</string>
                <key>sourceSize</key>
                <string>{146,204}</string>
            </dict>
            <key>hongtao_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,890},{146,202}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,202}}</string>
                <key>sourceSize</key>
                <string>{146,204}</string>
            </dict>
            <key>hongtao_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,890},{146,202}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,202}}</string>
                <key>sourceSize</key>
                <string>{146,204}</string>
            </dict>
            <key>hongtao_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,890},{146,202}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,202}}</string>
                <key>sourceSize</key>
                <string>{146,204}</string>
            </dict>
            <key>hongtao_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,890},{146,202}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,202}}</string>
                <key>sourceSize</key>
                <string>{146,204}</string>
            </dict>
            <key>hongtao_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,792},{146,202}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,202}}</string>
                <key>sourceSize</key>
                <string>{146,204}</string>
            </dict>
            <key>hongtao_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,742},{146,202}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,202}}</string>
                <key>sourceSize</key>
                <string>{146,204}</string>
            </dict>
            <key>hongtao_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,742},{146,202}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,202}}</string>
                <key>sourceSize</key>
                <string>{146,204}</string>
            </dict>
            <key>hongtao_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,742},{146,202}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,202}}</string>
                <key>sourceSize</key>
                <string>{146,204}</string>
            </dict>
            <key>hongtao_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,742},{146,202}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,202}}</string>
                <key>sourceSize</key>
                <string>{146,204}</string>
            </dict>
            <key>hongtao_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,644},{146,202}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,202}}</string>
                <key>sourceSize</key>
                <string>{146,204}</string>
            </dict>
            <key>hongtao_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,594},{146,202}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,202}}</string>
                <key>sourceSize</key>
                <string>{146,204}</string>
            </dict>
            <key>meihua_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,594},{146,202}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,202}}</string>
                <key>sourceSize</key>
                <string>{146,204}</string>
            </dict>
            <key>meihua_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,594},{146,202}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,202}}</string>
                <key>sourceSize</key>
                <string>{146,204}</string>
            </dict>
            <key>meihua_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,594},{146,202}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,202}}</string>
                <key>sourceSize</key>
                <string>{146,204}</string>
            </dict>
            <key>meihua_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{146,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,204}}</string>
                <key>sourceSize</key>
                <string>{146,204}</string>
            </dict>
            <key>meihua_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,496},{146,202}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,202}}</string>
                <key>sourceSize</key>
                <string>{146,204}</string>
            </dict>
            <key>meihua_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,446},{146,202}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,202}}</string>
                <key>sourceSize</key>
                <string>{146,204}</string>
            </dict>
            <key>meihua_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,446},{146,202}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,202}}</string>
                <key>sourceSize</key>
                <string>{146,204}</string>
            </dict>
            <key>meihua_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,446},{146,202}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,202}}</string>
                <key>sourceSize</key>
                <string>{146,204}</string>
            </dict>
            <key>meihua_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,446},{146,202}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,202}}</string>
                <key>sourceSize</key>
                <string>{146,204}</string>
            </dict>
            <key>meihua_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,348},{146,202}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,202}}</string>
                <key>sourceSize</key>
                <string>{146,204}</string>
            </dict>
            <key>meihua_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,298},{146,202}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,202}}</string>
                <key>sourceSize</key>
                <string>{146,204}</string>
            </dict>
            <key>meihua_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,298},{146,202}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,202}}</string>
                <key>sourceSize</key>
                <string>{146,204}</string>
            </dict>
            <key>meihua_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,298},{146,202}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,202}}</string>
                <key>sourceSize</key>
                <string>{146,204}</string>
            </dict>
            <key>teshu_-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,298},{146,202}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,202}}</string>
                <key>sourceSize</key>
                <string>{146,204}</string>
            </dict>
            <key>teshu_-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,150},{146,202}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,202}}</string>
                <key>sourceSize</key>
                <string>{146,204}</string>
            </dict>
            <key>teshu_-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,150},{146,202}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,202}}</string>
                <key>sourceSize</key>
                <string>{146,204}</string>
            </dict>
            <key>teshu_-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,150},{146,202}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,202}}</string>
                <key>sourceSize</key>
                <string>{146,204}</string>
            </dict>
            <key>teshu_-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,150},{146,202}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,202}}</string>
                <key>sourceSize</key>
                <string>{146,204}</string>
            </dict>
            <key>teshu_-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,144},{146,202}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,202}}</string>
                <key>sourceSize</key>
                <string>{146,204}</string>
            </dict>
            <key>teshu_-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,2},{146,202}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,202}}</string>
                <key>sourceSize</key>
                <string>{146,204}</string>
            </dict>
            <key>teshu_-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,2},{146,202}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,202}}</string>
                <key>sourceSize</key>
                <string>{146,204}</string>
            </dict>
            <key>xiaowang_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,1532},{144,202}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{144,202}}</string>
                <key>sourceSize</key>
                <string>{146,204}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pokers.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6fbb3a4f400e4628dd0f8f4351d6134b:1/1$</string>
            <key>textureFileName</key>
            <string>pokers.png</string>
        </dict>
    </dict>
</plist>
